<article 
  [id]="elementId()"
  class="collapsible-block"
  [class.expanded]="isExpanded()"
  [class.collapsed]="!isExpanded()"
  (click)="onBlockClick($event)"
  role="button"
  [attr.aria-expanded]="isExpanded()"
  [attr.aria-label]="title() + (isExpanded() ? ' (expanded)' : ' (collapsed)')"
  tabindex="0"
  (keydown.enter)="onBlockClick($event)"
  (keydown.space)="onBlockClick($event); $event.preventDefault()">
  
  <div class="content-wrapper">
    <div class="text-content">
      <b class="title">{{ title() }}</b>
      
      @if (isExpanded()) {
        <p class="description">{{ description() }}</p>
      }
    </div>
    
    @if (isExpanded()) {
      <div class="image-container">
        <img 
          [src]="imageUrl()" 
          [alt]="title()"
          class="block-image"
          loading="lazy" />
      </div>
    }
  </div>
</article>
